name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.59.0
          environments: lint

      - name: lint (if this step fails, please 'pixi install -e lint && pixi run lint' locally and push the changes)
        run: pixi run -e lint lint

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.59.0

      - name: Run tests
        id: test
        run: pixi run test
